body[location='resume'] section.header {
    text-align: center;
    padding-bottom: 12px;
}

body[location='resume'] section h2 {
    border-bottom: solid 1px rgb(0,0,0);
    padding: 8px 0px;
    font-size: 16px;
    text-transform: uppercase;
    line-height: 1.3;
}

body[location='resume'] section h3 {
    font-size: 16px;
    line-height: 1.2;
}

body[location='resume'] .item {
    display: flex;
    flex-direction: column;  /* important */
    gap: 8px 0;
}
body[location='resume'] .item .info {
    max-width: 620px; 
    padding-left: 0;
}

body[location='resume'] .item_heading {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 4px;
}

body[location='resume'] .item_heading .details{
    text-align: right;
}

/* Right column (dates, location) */
body[location='resume'] .item_heading .details {
    width: 220px;
    text-align: right;
    flex-shrink: 0;
}

body[location='resume'] .item_heading .details .duration {
    font-style: italic;
}

body[location='resume'] .item .info p {
    line-height: 1.4;
    padding-left: 0;
}

body[location='resume'] .bullets {
    max-width: 620px;    /* narrower, cleaner */
    margin-left: 0;
    margin-top: 6px;   
}

body[location='resume'] .bullets ul {
    padding-left: 18px;
    margin-top: 6px;
    line-height: 1.5;
}

body[location='resume'] .bullets li  {
    margin-bottom: 6px;
}